/* @font-face format() keywords
   embedded-opentype   → .eot
   opentype            → .otf, .ttf
   truetype            → .ttf
   woff                → .woff
   woff2               → .woff2

   Recommended src order (best → fallback):
   woff2 → woff → opentype/truetype
*/

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto Condensed';
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/roboto-condensed/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
  }
}
