{{- define "bodyClass" -}} {{ .Kind }}-{{ .Type }} page--podcast--{{ .Page.LinkTitle | anchorize -}} {{- end -}}

{{ define "header" }}
  {{ partialCached "blocks/header" . .Section .RelPermalink }}
{{ end }}

{{ define "main" }}

  {{- if .Params.blocks -}}
    {{ partialCached "funcs/render-static-blocks" . .Section .RelPermalink }}
  {{- end -}}

  <article class="bg-white pb-16 pt-12 lg:pb-20 lg:pt-16" aria-labelledby="podcast-title">
    <div class="container">
      {{- with .Params.videoUrl -}}
        <div class="mx-auto aspect-video overflow-hidden bg-black shadow-sm">
          <iframe class="size-full border-0" src="{{ . | safeURL }}" title="{{ $.Title }}" loading="eager" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      {{- end -}}

      {{- with .Content -}}
        <div class="markdown-content | max-w-full mt-10">{{ . }}</div>
      {{- end -}}
    </div>
  </article>

{{ end }}

{{ define "footer" }}
  {{ partialCached "blocks/footer" . .Section .RelPermalink }}
{{ end }}
