{{- $title := .title | default "" -}}
{{- $animateText := .animateText | default "" -}}
{{- $highlightClass := .highlightClass | default "text-primary-500" -}}
{{- $marker := `<svg class="pointer-events-none absolute left-1/2 top-1/2 h-[calc(100%+20px)] w-[calc(100%+20px)] -translate-x-1/2 -translate-y-1/2 overflow-visible text-current" viewBox="0 0 500 150" preserveAspectRatio="none" aria-hidden="true" focusable="false"><path class="fill-none stroke-current opacity-0 transition-[opacity,stroke-dasharray,filter] duration-300 [stroke-dasharray:0_1500] [stroke-linecap:round] [stroke-linejoin:round] [stroke-width:9] group-data-[animation=draw]:animate-headline-dash group-data-[animation=hide]:animate-headline-hide motion-reduce:animate-none motion-reduce:opacity-100 motion-reduce:blur-none motion-reduce:[stroke-dasharray:1500_1500]" d="M9.3,127.3c49.3-3,150.7-7.6,199.7-7.4c121.9,0.4,189.9,0.4,282.3,7.2C380.1,129.6,181.2,130.6,70,139c82.6-2.9,254.2-1,335.9,1.3c-56,1.4-137.2-0.3-197.1,9"></path></svg>` -}}
{{- $animatedText := printf `<span class="relative inline-block %s"><em class="relative z-10 font-[inherit]">%s</em>%s</span>` $highlightClass ($animateText | safeHTML) $marker -}}
{{- $renderedTitle := replace $title $animateText $animatedText 1 -}}

<h2 class="group {{ .class }}"{{ with .id }} id="{{ . }}"{{ end }} data-animated-underline>
  {{- $renderedTitle | safeHTML -}}
</h2>
