@theme static {
  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 33.75rem;     // ≡ 540px
  --container-md: 45rem;        // ≡ 720px
  --container-lg: 60rem;        // ≡ 960px
  --container-xl: 71.25rem;     // ≡ 1140px
  --container-2xl: 82.5rem;     // ≡ 1320px
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
}
