{{- define "bodyClass" -}}error-page bg-primary-500{{- end -}}

{{ define "header" }}
  {{ partialCached "blocks/header" . .Section .RelPermalink }}
{{ end }}

{{ define "main" }}
  {{ partial "blocks/404" (dict
    "page" .
    "title" "Ups! Pagina nu a fost găsită"
    "description" "Pagina pe care o cauți este posibil să fi fost eliminată, să își fi schimbat numele sau să fie temporar indisponibilă."
    "ctaLabel" "Înapoi acasă"
  ) }}
{{ end }}

{{ define "footer" }}
  {{ partialCached "blocks/footer" . .Section .RelPermalink }}
{{ end }}
