{{- define "bodyClass" -}}error-page bg-primary-500{{- end -}}

{{ define "header" }}
  {{ partialCached "blocks/header" . .Section .RelPermalink }}
{{ end }}

{{ define "main" }}
  {{ partial "blocks/404" (dict
    "page" .
    "title" "Oops! Page Not Found"
    "description" "The page you are looking for might have been removed, had its name changed, or is temporarily unavailable."
    "ctaLabel" "Back To Home"
  ) }}
{{ end }}

{{ define "footer" }}
  {{ partialCached "blocks/footer" . .Section .RelPermalink }}
{{ end }}
