{{/* Auto-discover and process all single types with config.single-type-config component */}}

{{/* Get all content types from Strapi */}}
{{ $contentTypesURL := partialCached "funcs/strapi-url" "/api/content-type-builder/content-types" "/api/content-type-builder/content-types" }}
{{/* Build remote opts via cached partial (Authorization header if token set) */}}
{{ $remoteOpts := partialCached "funcs/strapi-remote-opts" $contentTypesURL $contentTypesURL }}
{{ $contentTypes := dict }}
{{ with try (resources.GetRemote $contentTypesURL $remoteOpts) }}
  {{ with .Err }}
    {{ warnf "Unable to get content types from %s: %s" $contentTypesURL . }}
  {{ else with .Value }}
    {{ $contentTypes = . | transform.Unmarshal }}
  {{ else }}
    {{ warnf "Unable to get content types from %s" $contentTypesURL }}
  {{ end }}
{{ end }}

{{/* Process each content type */}}
{{ range $contentType := $contentTypes.data }}

  {{/* Check if it's a single type (not homepage) with config.single-type-config component */}}
  {{ if and (eq .schema.kind "singleType") (ne .apiID "homepage") }}

    {{/* Check if it has the config component */}}
    {{ $hasConfigComponent := false }}
    {{ with .schema.attributes.config }}
      {{ if and (eq .type "component") (eq .component "config.single-type-config") (eq .repeatable false) }}
        {{ $hasConfigComponent = true }}
      {{ end }}
    {{ end }}

    {{ if $hasConfigComponent }}

      {{/* Fetch data for this single type */}}
      {{ $apiPath := printf "/api/%s?pLevel" $contentType.apiID }}
      {{ $apiURL := partialCached "funcs/strapi-url" $apiPath $apiPath }}
      {{ $response := dict }}
      {{ with try (resources.GetRemote $apiURL $remoteOpts) }}
        {{ with .Err }}
          {{ warnf "Unable to get data for %s from %s: %s" $contentType.apiID $apiURL . }}
        {{ else with .Value }}
          {{ $response = . | transform.Unmarshal }}
        {{ else }}
          {{ warnf "Unable to get data for %s from %s" $contentType.apiID $apiURL }}
        {{ end }}
      {{ end }}

      {{/* Process the response data */}}
      {{ with $response.data }}

        {{/* Determine page configuration based on config.type */}}
        {{ $configType := "config" }}
        {{ with .config }}
          {{ with .type }}
            {{ $configType = . }}
          {{ end }}
        {{ end }}

        {{/* Set up dates */}}
        {{ $dates := dict
          "date" (time.AsTime .publishedAt)
          "lastmod" (time.AsTime .updatedAt)
        }}

        {{/* Set up build configuration */}}
        {{ $build := dict }}
        {{ if eq $configType "config" }}
          {{ $build = dict
            "list" "always"
            "publishResources" false
            "render" "never"
          }}
        {{ end }}

        {{/* Determine layout */}}
        {{ $layout := "single" }}
        {{ with .config }}
          {{ with .layout }}
            {{ $layout = . }}
          {{ end }}
        {{ end }}

        {{/* Create the page */}}
        {{ $pageDict := dict
          "title" (or .title (title $contentType.apiID))
          "dates" $dates
          "kind" "page"
          "type" "_single"
          "layout" $layout
          "params" (dict
            "id" .id
            "documentId" .documentId
            "data" .
            "apiID" $contentType.apiID
          )
        }}

        {{/* For page type, add slug and url fields */}}
        {{ if eq $configType "page" }}
          {{ $pageDict = merge $pageDict (dict
            "path" $contentType.apiID
            "slug" (or .slug $contentType.apiID)
            "url" (or .url (printf "/%s/" $contentType.apiID))
          ) }}
        {{ else }}
          {{/* For config type, use apiID as path */}}
          {{ $pageDict = merge $pageDict (dict
            "path" $contentType.apiID
          ) }}
        {{ end }}

        {{/* Add build configuration if needed */}}
        {{ if $build }}
          {{ $pageDict = merge $pageDict (dict "build" $build) }}
        {{ end }}

        {{ $.AddPage $pageDict }}

      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
